# Dependencies
node_modules/

# Build output
dist/*
!dist/.gitkeep
build/
out/
.next/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor/OS
.DS_Store
.vscode/
.idea/

# Testing/coverage
coverage/
